EMPIEZO BAJANDO LA LIBRERIA QUE ME PERMITE PODER LEER LOS ARCHIVOS  BAJADOS A LA COMPUTADORA

In [1]:
import pandas as pd

CARGO TODOS LOS ARCHIVOS A UNA VARIABLE PARA LUEGO VISUALIZAR CADA UNO Y ASI PODER VER Y ANALIZAR SU CONTENIDO

In [14]:
i_fijo_localidad = pd.read_csv('data\AccesosaInternetfijoportecnologiaylocalidad_2791751672694237974.csv')
i_fijo_provincia = pd.read_csv('data\AccesosaInternetfijoporvelocidadbajadayprovincia_2791741672694193414.csv')
i_bajada_provincia = pd.read_csv('data\AccesosaInternetfijoporvelocidaddebajadaylocalidad_2776171672694220939.csv')
conectividad_internet = pd.read_csv('data\ConectividadalserviciodeInternet_2776151672694283977.csv') #este puede servir
historico_velocidad_1 = pd.read_csv('data\historico_velocidad_internet (1).csv')
historico_velocidad = pd.read_csv('data\historico_velocidad_internet.csv')
acceso_tecnologia1 = pd.read_csv('data\Internet_Accesos-por-tecnologia (1).csv')
acceso_tecnologia = pd.read_csv('data\Internet_Accesos-por-tecnologia.csv')
acceso_velocidad1 = pd.read_csv('data\Internet_Accesos-por-velocidad (1).csv')
acceso_velocidad =pd.read_csv ('data\Internet_Accesos-por-velocidad.csv')
internet_baf1 =pd.read_csv ('data\Internet_BAF (1).csv')
internet_baf =pd.read_csv('data\Internet_BAF.csv')
internet_ingresos = pd.read_csv('data\Internet_Ingresos.csv')
internt_penetracion1 = pd.read_csv('data\Internet_Penetracion (1).csv')
internt_penetracion = pd.read_csv('data\Internet_Penetracion.csv')
localidad_con_internet = pd.read_csv('data\Listadodelocalidadesconconectividadainternet_2750221672694260488.csv')

In [15]:
internt_penetracion.head(5)

    Año  Trimestre        Provincia Accesos por cada 100 hogares
0  2022          1     Buenos Aires                        76,08
1  2022          1  Capital Federal                        111,8
2  2022          1        Catamarca                        58,21
3  2022          1            Chaco                        44,06
4  2022          1           Chubut                        88,05

In [16]:
internt_penetracion1.head(5)

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2022,1,"73,88","23,05",Ene-Mar 2022
1,2021,4,"73,18","22,81",Oct-Dic 2021
2,2021,3,"70,58","21,98",Jul-Sept 2021
3,2021,2,"69,24","21,55",Abr-Jun 2021
4,2021,1,"67,95","21,13",Ene-Mar 2021

In [42]:
i_fijo_localidad.sample(5)

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general,Unnamed: 13
2775,SANTA FE,OTROS,OTROS,Sin datos,- 0,- 0,- 0,- 0,2.581,- 0,- 0,- 0,2.581,NaN
2204,RIO NEGRO,General Roca,Barrio Isla 10,62042170,- 0,- 0,- 0,- 0,- 0,- 0,- 0,3,3,NaN
846,CHACO,San Fernando,Basail,22140020,98,67,- 0,- 0,- 0,1,- 0,59,225,NaN
529,BUENOS AIRES,Pergamino,Rancagua,6623120,109,- 0,- 0,102,- 0,1,- 0,- 0,212,NaN
1314,CORDOBA,Unión,Colonia Bismarck,14182110,- 0,7,- 0,- 0,- 0,- 0,- 0,15,22,NaN

In [43]:
i_fijo_provincia.head(5)

,Año,Trimestre,Provincia,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",...,70 Mbps,71 Mbps,75 Mbps,77 Mbps,78 Mbps,80 Mbps,81 Mbps,83 Mbps,82 Mbps,86 Mbps
0,2022.0,1.0,Buenos Aires,"26,280",19,- 0,- 0,"31,380",192,"5,958",...,"3,163",- 0,"100,884",- 0,4,212,- 0,2,- 0,- 0
1,2022.0,1.0,Capital Federal,"1,717",31,- 0,- 0,461,35,"1,407",...,3,- 0,"31,684",- 0,- 0,8,- 0,- 0,- 0,- 0
2,2022.0,1.0,Catamarca,"2,207",- 0,- 0,- 0,34,37,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
3,2022.0,1.0,Chaco,"7,580",- 0,225,111,234,2,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
4,2022.0,1.0,Chubut,"15,607",8,- 0,- 0,73,32,"1,069",...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0

In [44]:
i_bajada_provincia.head(5)

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 Mbps","0,375 Mbps","0,5 Mbps","0,512 Mbps","0,625 Mbps",...,75 Mbps,78 Mbps,80 Mbps,82 Mbps,83 Mbps,85 Mbps,90 Mbps,92 Mbps,95 Mbps,100 Mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:


conectividad_internet.head(5)

,Provincia,Partido,Localidad,Poblacion,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,SATELITAL,WIRELESS,TELEFONIAFIJA,3G,4G,link,Latitud,Longitud
0,BUENOS AIRES,25 de Mayo,25 de Mayo,23408,SI,SI,--,SI,SI,SI,SI,SI,SI,6854100.0,-35.433939,-60.173121
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,280,--,--,--,--,--,--,SI,--,--,6854010.0,-35.739217,-60.559063
2,BUENOS AIRES,25 de Mayo,Del Valle,899,SI,--,--,--,SI,--,--,SI,SI,6854020.0,-35.897345,-60.731609
3,BUENOS AIRES,25 de Mayo,Ernestina,145,SI,--,--,--,--,--,--,--,--,6854030.0,-35.270234,-59.557503
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,547,--,--,--,--,--,SI,--,--,--,6854040.0,-35.164397,-60.081358

In [46]:
historico_velocidad_1

      Año  Trimestre            Provincia  Mbps (Media de bajada)
0    2022          1         Buenos Aires                      63
1    2022          1      Capital Federal                      88
2    2022          1            Catamarca                      51
3    2022          1                Chaco                      46
4    2022          1               Chubut                      13
..    ...        ...                  ...                     ...
787  2014          1           Santa Cruz                       3
788  2014          1             Santa Fe                       3
789  2014          1  Santiago Del Estero                       3
790  2014          1     Tierra Del Fuego                       3
791  2014          1              Tucumán                       3

[792 rows x 4 columns]

In [47]:
historico_velocidad

     Año  Trimestre Mbps (Media de bajada)    Trimestre.1
0   2022          1                  55,11   Ene-Mar 2022
1   2021          4                  52,34   Oct-Dic 2021
2   2021          3                  48,46  Jul-Sept 2021
3   2021          2                  45,63   Abr-Jun 2021
4   2021          1                  43,11   Ene-Mar 2021
5   2020          4                  42,36   Oct-Dic 2020
6   2020          3                  40,67  Jul-Sept 2020
7   2020          2                  38,32   Abr-Jun 2020
8   2020          1                  37,52   Ene-Mar 2020
9   2019          4                  28,26   Oct-Dic 2019
10  2019          3                  24,18  Jul-Sept 2019
11  2019          2                  20,33   Abr-Jun 2019
12  2019          1                  17,38   Ene-Mar 2019
13  2018          4                  15,95   Oct-Dic 2018
14  2018          3                  15,36  Jul-Sept 2018
15  2018          2                  13,85   Abr-Jun 2018
16  2018          1                  13,22   Ene-Mar 2018
17  2017          4                  12,01   Oct-Dic 2017
18  2017          3                   8,34  Jul-Sept 2017
19  2017          2                   7,16   Abr-Jun 2017
20  2017          1                   6,62   Ene-Mar 2017
21  2016          4                   6,34   Oct-Dic 2016
22  2016          3                   5,94  Jul-Sept 2016
23  2016          2                   5,42   Abr-Jun 2016
24  2016          1                   5,08   Ene-Mar 2016
25  2015          4                   4,99   Oct-Dic 2015
26  2015          3                   4,79  Jul-Sept 2015
27  2015          2                   4,55   Abr-Jun 2015
28  2015          1                   4,35   Ene-Mar 2015
29  2014          4                   4,16   Oct-Dic 2014
30  2014          3                   3,87  Jul-Sept 2014
31  2014          2                   3,76   Abr-Jun 2014
32  2014          1                   3,62   Ene-Mar 2014

In [48]:
acceso_tecnologia.head(5)

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2022,1,1.533.240,6.073.426,2.219.533,545.814,251.996,10.624.009,Ene-Mar 2022
1,2021,4,1.657.615,5.984.240,2.072.236,523.107,252.596,10.489.794,Oct-Dic 2021
2,2021,3,1.950.631,5.826.257,1.566.048,492.415,250.190,10.085.541,Jul-Sept 2021
3,2021,2,2.018.587,5.641.731,1.472.246,476.968,253.552,9.863.084,Abr-Jun 2021
4,2021,1,2.175.211,5.424.782,1.362.976,434.548,250.455,9.647.972,Ene-Mar 2021

In [49]:
acceso_tecnologia1.sample(5)

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
296,2019 *,1 *,Formosa,22.570,7.878,940,13.761,62.000,45.211
81,2021,2,Jujuy,24.738,60.800,19.611,2.731,3.968,111.848
682,2015,1,La Pampa,13.143,39.571,3.215,6.164,604.000,62.697
278,2019 *,2 *,Neuquén,43.420,59.021,4.983,12.792,2.737,122.953
18,2022,1,San Luis,7.987,11.296,31,71.809,28.721,119.844

In [50]:
acceso_tecnologia1.groupby(by=['Provincia']).mean()

                          Otros
Provincia
Buenos Aires          35.434545
Capital Federal       17.144758
Catamarca             16.675727
Chaco                 20.028576
Chubut                 8.490758
Corrientes            29.219333
Córdoba              151.990303
Entre Ríos            82.869636
Formosa              108.454545
Jujuy                 23.039182
La Pampa             302.232848
La Rioja              31.727273
Mendoza              196.646909
Misiones              15.746667
Neuquén              194.534061
Río Negro              8.362788
Salta                256.676121
San Juan             250.760848
San Luis             182.554879
Santa Cruz            39.255061
Santa Fe              72.738758
Santiago Del Estero   32.410606
Tierra Del Fuego     100.289091
Tucumán              292.939394

In [51]:
acceso_tecnologia.head(5)

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2022,1,1.533.240,6.073.426,2.219.533,545.814,251.996,10.624.009,Ene-Mar 2022
1,2021,4,1.657.615,5.984.240,2.072.236,523.107,252.596,10.489.794,Oct-Dic 2021
2,2021,3,1.950.631,5.826.257,1.566.048,492.415,250.190,10.085.541,Jul-Sept 2021
3,2021,2,2.018.587,5.641.731,1.472.246,476.968,253.552,9.863.084,Abr-Jun 2021
4,2021,1,2.175.211,5.424.782,1.362.976,434.548,250.455,9.647.972,Ene-Mar 2021

In [52]:
acceso_velocidad.head(5)

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total,Unnamed: 11
0,2022,1,34.890,104.840,1.263.273,1.209.148,967.508,509.830,6.336.187,198.333,10.624.009,NaN
1,2021,4,41.262,28.521,1.413.208,1.245.333,976.539,558.358,6.032.322,194.251,10.489.794,NaN
2,2021,3,40.174,41.437,2.550.229,1.095.772,710.122,536.364,4.948.174,163.269,10.085.541,NaN
3,2021,2,40.172,42.024,2.531.271,1.080.279,693.277,647.401,4.661.291,167.369,9.863.084,NaN
4,2021,1,39.487,41.674,2.593.477,1.072.722,737.930,595.920,4.379.965,186.797,9.647.972,NaN

In [53]:
acceso_velocidad1.groupby('Provincia', as_index=True).sum()

,Año,Trimestre,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,OTROS
Provincia,,,,,,,,
Buenos Aires,66582,81,2212.809,2493.800,8542.231,11317.530,9255.242,738.440
Capital Federal,66582,81,8678.263,4726.134,4830.645,6363.326,4822.039,1395.717
Catamarca,66582,81,1228.000,648.221,195.705,2781.494,4301.623,48.895
Chaco,66582,81,7417.000,2690.488,660.090,1296.680,2639.675,90.046
Chubut,66582,81,7190.387,1716.332,2458.293,2040.626,1451.540,96.202
Corrientes,66582,81,1161.000,5373.032,689.550,2070.652,3022.091,65.180
Córdoba,66582,81,4699.084,1138.166,3013.552,3542.479,1829.466,175.911
Entre Ríos,66582,81,1239.625,382.112,1363.871,1570.959,3027.457,207.234
Formosa,66582,81,1874.394,2091.186,158.257,1762.322,10706.071,999.874
Jujuy,66582,81,3732.726,3406.177,276.074,3440.713,4615.000,179.518
La Pampa,66582,81,8858.986,5407.824,2075.198,5773.812,3300.825,2830.691
La Rioja,66582,81,416.000,864.913,130.138,2729.835,908.009,22.000
Mendoza,66582,81,4015.000,629.359,2453.167,1804.839,404.865,630.883
Misiones,66582,81,7994.125,2809.899,685.728,1559.898,2944.017,126.685
Neuquén,66582,81,1988.098,4267.699,5847.832,376.718,368.751,1543.984
Río Negro,66582,81,7474.223,3549.893,5238.887,321.134,1532.370,256.216
Salta,66582,81,5659.880,4206.943,1232.053,1472.800,1315.924,90.760
San Juan,66582,81,1207.000,6799.077,5450.479,2035.830,1976.088,1074.583
San Luis,66582,81,1418.000,1800.000,241.315,2611.535,911.175,486.588
Santa Cruz,66582,81,3629.000,1439.184,5887.216,1844.708,1922.131,4536.589
Santa Fe,66582,81,8378.463,5201.528,3900.510,2918.191,2197.064,363.919
Santiago Del Estero,66582,81,6884.711,6495.513,873.740,2758.721,5755.000,2615.141
Tierra Del Fuego,66582,81,423.000,7599.000,126.111,1027.437,2967.948,1174.790
Tucumán,66582,81,1952.000,1399.405,1310.925,2088.141,7487.219,692.922

In [54]:
acceso_velocidad1.head(5)

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,1,Buenos Aires,31.591,30.056,313.382,321.756,290.127,161.183,3.381.049,26.280,4.555.424
1,2022,1,Capital Federal,527.000,5.575,39.918,77.390,61.053,43.289,1.188.072,1.717,1.417.541
2,2022,1,Catamarca,71.000,456.000,4.386,7.009,8.773,3.761,35.715,2.207,62.378
3,2022,1,Chaco,461.000,1.099,16.888,21.235,20.898,13.012,62.946,7.580,144.119
4,2022,1,Chubut,113.000,1.677,61.369,31.856,33.080,13.871,14.055,15.607,171.628

In [55]:
acceso_velocidad

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total,Unnamed: 11
0,2022,1,34.890,104.840,1.263.273,1.209.148,967.508,509.830,6.336.187,198.333,10.624.009,NaN
1,2021,4,41.262,28.521,1.413.208,1.245.333,976.539,558.358,6.032.322,194.251,10.489.794,NaN
2,2021,3,40.174,41.437,2.550.229,1.095.772,710.122,536.364,4.948.174,163.269,10.085.541,NaN
3,2021,2,40.172,42.024,2.531.271,1.080.279,693.277,647.401,4.661.291,167.369,9.863.084,NaN
4,2021,1,39.487,41.674,2.593.477,1.072.722,737.930,595.920,4.379.965,186.797,9.647.972,NaN
5,2020,4,39.510,42.185,2.622.638,1.073.875,786.595,582.420,4.239.237,185.102,9.571.562,NaN
6,2020,3,41.038,44.005,2.637.984,1.040.017,799.350,538.567,4.053.461,201.777,9.356.199,NaN
7,2020,2,41.038,48.690,2.651.502,1.053.107,807.775,523.437,3.711.499,194.008,9.031.056,NaN
8,2020,1,42.550,56.170,2.649.819,1.022.014,814.470,532.309,3.500.882,194.212,8.812.426,NaN
9,2019,4,38.272,28.980,2.792.684,1.046.128,851.619,1.004.083,2.831.253,200.162,8.793.181,NaN
10,2019,3,241.713,80.599,3.309.137,1.026.859,806.466,1.141.545,2.314.898,243.467,9.164.684,NaN
11,2019,2,202.790,95.980,3.444.458,871.142,1.169.632,1.250.366,1.677.830,247.983,8.960.181,NaN
12,2019,1,166.573,195.706,3.428.759,882.836,1.464.748,1.244.215,1.138.728,126.570,8.648.135,NaN
13,2018,4,138.740,201.196,3.349.666,882.388,1.472.634,1.690.612,599.579,138.840,8.473.655,NaN
14,2018,3,5.675,220.589,3.401.277,859.413,1.607.137,1.571.692,524.777,156.475,8.347.035,NaN
15,2018,2,5.972,219.467,3.316.868,979.416,1.905.839,1.000.036,444.391,238.455,8.110.444,NaN
16,2018,1,7.309,215.406,3.272.724,976.956,2.068.087,862.010,397.977,236.584,8.037.053,NaN
17,2017,4,15.041,221.474,3.773.159,1.005.545,1.730.353,631.946,337.559,155.145,7.870.222,NaN
18,2017,3,19.022,217.997,4.062.226,1.062.810,1.592.304,353.480,245.790,0.000,7.553.629,NaN
19,2017,2,22.366,222.766,4.416.065,990.281,1.342.000,231.604,98.635,0.000,7.323.717,NaN
20,2017,1,20.653,230.159,4.584.534,975.027,1.129.987,210.668,47.990,0.000,7.199.018,NaN
21,2016,4,20.724,233.398,4.673.339,971.094,1.038.029,169.522,38.590,0.000,7.144.696,NaN
22,2016,3,20.104,294.413,4.816.081,936.533,919.208,124.564,31.022,0.000,7.141.925,NaN
23,2016,2,44.008,384.221,5.058.481,796.998,785.759,73.977,29.020,0.000,7.172.464,NaN
24,2016,1,30.428,404.810,4.944.358,762.999,641.646,27.664,23.380,0.000,6.835.285,NaN
25,2015,4,34.243,427.394,5.049.640,726.740,639.011,17.568,22.170,0.000,6.916.766,NaN
26,2015,3,35.030,455.777,5.087.802,701.187,539.414,13.101,20.677,0.000,6.852.988,NaN
27,2015,2,40.723,500.175,5.138.431,645.440,432.762,10.045,18.529,0.000,6.786.105,NaN
28,2015,1,41.158,516.919,5.121.423,571.620,348.102,7.643,16.347,0.000,6.623.212,NaN
29,2014,4,44.075,554.749,5.084.556,496.251,276.254,4.371,15.229,0.000,6.475.485,NaN
30,2014,3,37.430,608.018,5.153.437,373.372,182.483,507,12.424,0.000,6.367.671,NaN
31,2014,2,41.064,656.408,5.149.574,341.689,147.273,478,12.259,0.000,6.348.745,NaN
32,2014,1,52.684,687.619,5.130.294,289.182,101.127,345,11.595,0.000,6.272.846,NaN

In [56]:
internet_baf

     Año  Trimestre Banda ancha fija  Dial up       Total        Periodo
0   2022          1       10.611.390   12.619  10.624.009   Ene-Mar 2022
1   2021          4       10.476.933   12.861  10.489.794   Oct-Dic 2021
2   2021          3       10.075.184   10.357  10.085.541  Jul-Sept 2021
3   2021          2        9.852.702   10.382   9.863.084   Abr-Jun 2021
4   2021          1        9.637.956   10.016   9.647.972   Ene-Mar 2021
5   2020          4        9.561.546   10.016   9.571.562   Oct-Dic 2020
6   2020          3        9.346.183   10.016   9.356.199  Jul-Sept 2020
7   2020          2        9.021.040   10.016   9.031.056   Abr-Jun 2020
8   2020          1        8.802.435    9.991   8.812.426   Ene-Mar 2020
9   2019          4        8.783.053   10.128   8.793.181   Oct-Dic 2019
10  2019          3        9.142.891   21.793   9.164.684  Jul-Sept 2019
11  2019          2        8.938.427   21.754   8.960.181   Abr-Jun 2019
12  2019          1        8.626.323   21.812   8.648.135   Ene-Mar 2019
13  2018          4        8.451.841   21.814   8.473.655   Oct-Dic 2018
14  2018          3        8.320.223   26.812   8.347.035  Jul-Sept 2018
15  2018          2        8.083.533   26.911   8.110.444   Abr-Jun 2018
16  2018          1        8.009.981   27.072   8.037.053   Ene-Mar 2018
17  2017          4        7.842.778   27.444   7.870.222   Oct-Dic 2017
18  2017          3        7.696.594   28.349   7.724.943  Jul-Sept 2017
19  2017          2        7.401.134   28.530   7.429.664   Abr-Jun 2017
20  2017          1        7.277.314   28.540   7.305.854   Ene-Mar 2017
21  2016          4        7.223.128   28.545   7.251.673   Oct-Dic 2016
22  2016          3        7.178.340   28.610   7.206.950  Jul-Sept 2016
23  2016          2        7.097.604   32.475   7.130.079   Abr-Jun 2016
24  2016          1        6.874.704   32.652   6.907.356   Ene-Mar 2016
25  2015          4        6.952.289   32.542   6.984.831   Oct-Dic 2015
26  2015          3        6.902.267   32.801   6.935.068  Jul-Sept 2015
27  2015          2        6.783.279   32.909   6.816.188   Abr-Jun 2015
28  2015          1        6.699.714   38.018   6.737.732   Ene-Mar 2015
29  2014          4        6.559.172   39.324   6.598.496   Oct-Dic 2014
30  2014          3        6.559.264   36.007   6.595.271  Jul-Sept 2014
31  2014          2        6.428.329   36.139   6.464.468   Abr-Jun 2014
32  2014          1        6.362.108   36.290   6.398.398   Ene-Mar 2014

In [57]:
internet_baf1

      Año  Trimestre            Provincia Banda ancha fija Dial up      Total
0    2022          1         Buenos Aires        4.549.131   6.293  4.555.424
1    2022          1      Capital Federal        1.415.378   2.163  1.417.541
2    2022          1            Catamarca           62.377       1     62.378
3    2022          1                Chaco          144.114       5    144.119
4    2022          1               Chubut          170.701     927    171.628
..    ...        ...                  ...              ...     ...        ...
787  2014          1           Santa Cruz           26.304     460     26.764
788  2014          1             Santa Fe          506.000     612    506.612
789  2014          1  Santiago Del Estero           37.124       9     37.133
790  2014          1     Tierra Del Fuego           27.272     766     28.038
791  2014          1              Tucumán          129.944      88    130.032

[792 rows x 6 columns]

In [58]:
internet_ingresos

     Año  Trimestre Ingresos (miles de pesos)        Periodo
0   2022          1                51.432.896   Ene-Mar 2022
1   2021          4                45.467.887   Oct-Dic 2021
2   2021          3                42.999.944  Jul-Sept 2021
3   2021          2                38.239.667   Abr-Jun 2021
4   2021          1                36.676.371   Ene-Mar 2021
5   2020          4                33.539.703   Oct-Dic 2020
6   2020          3                31.997.445  Jul-Sept 2020
7   2020          2                32.102.476   Abr-Jun 2020
8   2020          1                29.946.216   Ene-Mar 2020
9   2019          4                24.169.251   Oct-Dic 2019
10  2019          3                21.652.748  Jul-Sept 2019
11  2019          2                20.743.118   Abr-Jun 2019
12  2019          1                20.207.414   Ene-Mar 2019
13  2018          4                16.637.687   Oct-Dic 2018
14  2018          3                15.410.981  Jul-Sept 2018
15  2018          2                14.319.467   Abr-Jun 2018
16  2018          1                13.171.459   Ene-Mar 2018
17  2017          4                11.226.127   Oct-Dic 2017
18  2017          3                10.065.998  Jul-Sept 2017
19  2017          2                 9.678.647   Abr-Jun 2017
20  2017          1                 8.701.201   Ene-Mar 2017
21  2016          4                 7.483.980   Oct-Dic 2016
22  2016          3                 6.912.442  Jul-Sept 2016
23  2016          2                 6.534.241   Abr-Jun 2016
24  2016          1                 5.936.845   Ene-Mar 2016
25  2015          4                 5.376.899   Oct-Dic 2015
26  2015          3                 5.153.739  Jul-Sept 2015
27  2015          2                 4.701.791   Abr-Jun 2015
28  2015          1                 4.876.385   Ene-Mar 2015
29  2014          4                 3.950.441   Oct-Dic 2014
30  2014          3                 3.478.638  Jul-Sept 2014
31  2014          2                 3.270.816   Abr-Jun 2014
32  2014          1                 2.984.054   Ene-Mar 2014

In [59]:
internt_penetracion

      Año  Trimestre            Provincia Accesos por cada 100 hogares
0    2022          1         Buenos Aires                        76,08
1    2022          1      Capital Federal                        111,8
2    2022          1            Catamarca                        58,21
3    2022          1                Chaco                        44,06
4    2022          1               Chubut                        88,05
..    ...        ...                  ...                          ...
787  2014          1           Santa Cruz                        28,94
788  2014          1             Santa Fe                        47,85
789  2014          1  Santiago Del Estero                        16,31
790  2014          1     Tierra Del Fuego                        63,97
791  2014          1              Tucumán                        33,42

[792 rows x 4 columns]

In [60]:
internt_penetracion.head(5)

    Año  Trimestre        Provincia Accesos por cada 100 hogares
0  2022          1     Buenos Aires                        76,08
1  2022          1  Capital Federal                        111,8
2  2022          1        Catamarca                        58,21
3  2022          1            Chaco                        44,06
4  2022          1           Chubut                        88,05

In [61]:
internt_penetracion1.groupby(['Año','Accesos por cada 100 hogares']).last()

                                   Trimestre Accesos por cada 100 hab  \
Año  Accesos por cada 100 hogares
2014 49,55                                 1                    15,05
     49,86                                 2                    15,16
     50,5                                  4                    15,39
     50,67                                 3                    15,43
2015 51,36                                 1                    15,68
     51,76                                 2                    15,82
     52,46                                 3                    16,05
     52,63                                 4                    16,12
2016 51,85                                 1                     15,9
     53,34                                 2                    16,37
     53,73                                 3                     16,5
     53,94                                 4                    16,56
2017 54,16                                 1                    16,64
     54,9                                  2                    16,88
     56,9                                  3                    17,51
     57,78                                 4                    17,79
2018 58,82                                 1                    18,12
     59,16                                 2                    18,24
     60,69                                 3                    18,73
     61,42                                 4                    18,97
2019 62,48                                 1                    19,31
     62,92                                 4                    19,49
     64,53                                 2                    19,96
     65,79                                 3                    20,36
2020 62,86                                 1                    19,48
     64,21                                 2                    19,92
     66,31                                 3                    20,59
     67,62                                 4                    21,01
2021 67,95                                 1                    21,13
     69,24                                 2                    21,55
     70,58                                 3                    21,98
     73,18                                 4                    22,81
2022 73,88                                 1                    23,05

                                         Periodo
Año  Accesos por cada 100 hogares
2014 49,55                          Ene-Mar 2014
     49,86                          Abr-Jun 2014
     50,5                           Oct-Dic 2014
     50,67                         Jul-Sept 2014
2015 51,36                          Ene-Mar 2015
     51,76                          Abr-Jun 2015
     52,46                         Jul-Sept 2015
     52,63                          Oct-Dic 2015
2016 51,85                          Ene-Mar 2016
     53,34                          Abr-Jun 2016
     53,73                         Jul-Sept 2016
     53,94                          Oct-Dic 2016
2017 54,16                          Ene-Mar 2017
     54,9                           Abr-Jun 2017
     56,9                          Jul-Sept 2017
     57,78                          Oct-Dic 2017
2018 58,82                          Ene-Mar 2018
     59,16                          Abr-Jun 2018
     60,69                         Jul-Sept 2018
     61,42                          Oct-Dic 2018
2019 62,48                          Ene-Mar 2019
     62,92                          Oct-Dic 2019
     64,53                          Abr-Jun 2019
     65,79                         Jul-Sept 2019
2020 62,86                          Ene-Mar 2020
     64,21                          Abr-Jun 2020
     66,31                         Jul-Sept 2020
     67,62                          Oct-Dic 2020
2021 67,95                          Ene-Mar 2021
     69,24                          Abr-Jun 2021
     70,58                         Jul-Sept 2021
     73,18                          Oct-Dic 2021
2022 73,88                          Ene-Mar 2022

In [62]:
localidad_con_internet.head(5)

,Provincia,Partido,Localidad,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,4G,3G,TELEFONIAFIJA,WIRELESS,SATELITAL
0,BUENOS AIRES,25 de Mayo,25 de Mayo,SI,SI,--,SI,SI,SI,SI,SI,SI
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,--,--,--,--,--,--,SI,--,--
2,BUENOS AIRES,25 de Mayo,Del Valle,SI,--,--,--,SI,SI,--,--,SI
3,BUENOS AIRES,25 de Mayo,Ernestina,SI,--,--,--,--,--,--,--,--
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,--,--,--,--,--,--,--,SI,--

In [63]:
conectividad_internet

,Provincia,Partido,Localidad,Poblacion,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,SATELITAL,WIRELESS,TELEFONIAFIJA,3G,4G,link,Latitud,Longitud
0,BUENOS AIRES,25 de Mayo,25 de Mayo,23408,SI,SI,--,SI,SI,SI,SI,SI,SI,6854100.0,-35.433939,-60.173121
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,280,--,--,--,--,--,--,SI,--,--,6854010.0,-35.739217,-60.559063
2,BUENOS AIRES,25 de Mayo,Del Valle,899,SI,--,--,--,SI,--,--,SI,SI,6854020.0,-35.897345,-60.731609
3,BUENOS AIRES,25 de Mayo,Ernestina,145,SI,--,--,--,--,--,--,--,--,6854030.0,-35.270234,-59.557503
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,547,--,--,--,--,--,SI,--,--,--,6854040.0,-35.164397,-60.081358
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4307,JUJUY,El Carmen,Los Lapachos (Est. Maquinista Verón),864,--,--,--,--,--,SI,--,SI,SI,38014050.0,-24.473571,-65.074393
4308,JUJUY,El Carmen,Loteo San Vicente,211,--,--,--,--,--,--,--,--,SI,38014055.0,-24.429325,-65.184397
4309,JUJUY,El Carmen,Manantiales,326,--,--,--,--,SI,--,--,SI,SI,38014060.0,-24.505687,-64.975926
4310,JUJUY,El Carmen,Monterrico,11591,--,SI,--,--,SI,SI,SI,SI,SI,38014070.0,-24.438520,-65.162225
4311,JUJUY,El Carmen,Pampa Blanca,2720,SI,SI,--,--,SI,SI,SI,SI,SI,38014080.0,-24.532994,-65.074414

In [64]:
df = conectividad_internet.groupby(['Provincia'],sort=True).sum()

In [65]:
df

                     Poblacion          link       Latitud      Longitud
Provincia
BUENOS AIRES          14911542  5.466931e+09 -32105.989222 -53785.548973
CABA                   2890151  9.600048e+07  -1661.412697  -2805.607355
CATAMARCA               343343  1.549747e+09  -5091.037727 -12035.139426
CHACO                   927414  2.009600e+09  -2471.311112  -5534.270797
CHUBUT                  490554  1.797320e+09  -3966.943656  -6180.088770
CORDOBA                3139606  7.372666e+09 -17706.714184 -35562.953337
CORRIENTES              857994  1.393289e+09  -2232.030928  -4522.076188
ENTRE RIOS             1119919  5.200254e+09  -6193.482508 -11497.026070
FORMOSA                 452714  2.110026e+09  -1580.869051  -3746.521896
JUJUY                   628141  5.746276e+09  -3763.771682 -10470.088449
LA PAMPA                302570  3.745822e+09  -3246.465616  -5736.525315
LA RIOJA                319248  3.315594e+09  -2727.770342  -6244.004610
MENDOZA                1654993  7.661889e+09  -7007.447061 -14423.922661
MISIONES                836097  7.623078e+09  -3869.324811  -7860.316557
NEUQUEN                 522527  3.483670e+09  -2348.472145  -4262.326906
RIO NEGRO               597058  9.306867e+09  -6502.300250 -11020.442063
SALTA                  1117163  8.656703e+09  -3370.473895  -8993.648484
SAN JUAN                631000  5.745876e+09  -3381.958022  -7398.361129
SAN LUIS                410669  6.293344e+09  -7553.025923 -15088.086042
SANTA CRUZ              268436  2.106631e+09  -1319.320717  -1886.320805
SANTA FE               3055611  3.143247e+10 -12278.781019 -23686.337093
SANTIAGO DEL ESTERO     671932  1.420487e+10  -4584.377121 -10497.613498
TIERRA DEL FUEGO        125823  3.760421e+08   -997.602435   -952.510560
TUCUMAN                1210114  8.825485e+09  -3158.787116  -7639.460869

In [66]:
df_conectiviad = df['Poblacion']

In [67]:
df_conectiviad

Provincia
BUENOS AIRES           14911542
CABA                    2890151
CATAMARCA                343343
CHACO                    927414
CHUBUT                   490554
CORDOBA                 3139606
CORRIENTES               857994
ENTRE RIOS              1119919
FORMOSA                  452714
JUJUY                    628141
LA PAMPA                 302570
LA RIOJA                 319248
MENDOZA                 1654993
MISIONES                 836097
NEUQUEN                  522527
RIO NEGRO                597058
SALTA                   1117163
SAN JUAN                 631000
SAN LUIS                 410669
SANTA CRUZ               268436
SANTA FE                3055611
SANTIAGO DEL ESTERO      671932
TIERRA DEL FUEGO         125823
TUCUMAN                 1210114
Name: Poblacion, dtype: int64

In [68]:
historico_velocidad.head(10)

    Año  Trimestre Mbps (Media de bajada)    Trimestre.1
0  2022          1                  55,11   Ene-Mar 2022
1  2021          4                  52,34   Oct-Dic 2021
2  2021          3                  48,46  Jul-Sept 2021
3  2021          2                  45,63   Abr-Jun 2021
4  2021          1                  43,11   Ene-Mar 2021
5  2020          4                  42,36   Oct-Dic 2020
6  2020          3                  40,67  Jul-Sept 2020
7  2020          2                  38,32   Abr-Jun 2020
8  2020          1                  37,52   Ene-Mar 2020
9  2019          4                  28,26   Oct-Dic 2019

In [69]:
import numpy as np

In [70]:
historico_velocidad.groupby(['Año','Mbps (Media de bajada)']).sum()

                             Trimestre
Año  Mbps (Media de bajada)
2014 3,62                            1
     3,76                            2
     3,87                            3
     4,16                            4
2015 4,35                            1
     4,55                            2
     4,79                            3
     4,99                            4
2016 5,08                            1
     5,42                            2
     5,94                            3
     6,34                            4
2017 12,01                           4
     6,62                            1
     7,16                            2
     8,34                            3
2018 13,22                           1
     13,85                           2
     15,36                           3
     15,95                           4
2019 17,38                           1
     20,33                           2
     24,18                           3
     28,26                           4
2020 37,52                           1
     38,32                           2
     40,67                           3
     42,36                           4
2021 43,11                           1
     45,63                           2
     48,46                           3
     52,34                           4
2022 55,11                           1

In [71]:
acceso_tecnologia1.head(5)

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,1,Buenos Aires,392.045,2.728.865,1.242.121,125.521,66.872,4.555.424
1,2022,1,Capital Federal,102.290,1.217.225,62.308,5.784,29.934,1.417.541
2,2022,1,Catamarca,14.181,15.517,29.118,1.328,2.234,62.378
3,2022,1,Chaco,32.391,64.546,36.662,8.164,2.356,144.119
4,2022,1,Chubut,44.133,66.667,9.184,30.592,21.052,171.628

In [72]:
df_acceso_tecnologia1 = acceso_tecnologia1.drop(['ADSL', 'Cablemodem', 'Fibra óptica','Wireless','Otros'], axis=1)

In [73]:
df_acceso_tecnologia1

,Año,Trimestre,Provincia,Total
0,2022,1,Buenos Aires,4.555.424
1,2022,1,Capital Federal,1.417.541
2,2022,1,Catamarca,62.378
3,2022,1,Chaco,144.119
4,2022,1,Chubut,171.628
...,...,...,...,...
788,2014,1,Santa Fe,506.612
789,2014,1,Santiago Del Estero,37.133
790,2014,1,Tierra Del Fuego,28.038
791,2014,1,Tucumán,130.032
792,*,Los datos provinciales no coinciden a nivel na...,NaN,NaN

In [74]:
internt_penetracion

      Año  Trimestre            Provincia Accesos por cada 100 hogares
0    2022          1         Buenos Aires                        76,08
1    2022          1      Capital Federal                        111,8
2    2022          1            Catamarca                        58,21
3    2022          1                Chaco                        44,06
4    2022          1               Chubut                        88,05
..    ...        ...                  ...                          ...
787  2014          1           Santa Cruz                        28,94
788  2014          1             Santa Fe                        47,85
789  2014          1  Santiago Del Estero                        16,31
790  2014          1     Tierra Del Fuego                        63,97
791  2014          1              Tucumán                        33,42

[792 rows x 4 columns]

DESCARGO LA KEY QUE VOY A NECESITAR PARA PODER BAJAR LOS ARCHIVOS CSV DESDE LA API DE LA PAGINA, PARA USAR EN EL CODIGO

In [75]:
HPgZVV1Cb33CEV0TuAvfkSH44YlsFICTXK3IX3Vq

NameError: name 'HPgZVV1Cb33CEV0TuAvfkSH44YlsFICTXK3IX3Vq' is not defined

DESCARGO LOS ARCHIVOS DESDE LA PAGINA DE INTERNET QUE, UNA VEZ ANALIZADOS, LOS VOY A TRABAJAR PARA SACAR LA INFORMACION DE LA CUAL VOY A TRANSFORMARLA EN POWER BI

In [28]:
df_1 =pd.read_csv('http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/CONEC-AL-SERVI-DE-INTER/data.csv/?auth_key=HPgZVV1Cb33CEV0TuAvfkSH44YlsFICTXK3IX3Vq')
df_2 =pd.read_csv('http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/VELOC-PROME-DE-BAJAD-DE/data.csv/?auth_key=HPgZVV1Cb33CEV0TuAvfkSH44YlsFICTXK3IX3Vq')
df_3 =pd.read_csv('http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/INGRE-POR-LA-OPERA-DEL/data.csv/?auth_key=HPgZVV1Cb33CEV0TuAvfkSH44YlsFICTXK3IX3Vq')
df_4 =pd.read_csv('http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/PENET-DEL-INTER-FIJO-51614/data.csv/?auth_key=HPgZVV1Cb33CEV0TuAvfkSH44YlsFICTXK3IX3Vq')
df_5 =pd.read_csv('http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/PENET-NACIO-DEL-INTER-FIJO/data.csv/?auth_key=HPgZVV1Cb33CEV0TuAvfkSH44YlsFICTXK3IX3Vq')

In [41]:
df_1.head(5)

,Provincia,Partido,Localidad,Poblacion,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,SATELITAL,WIRELESS,TELEFONIAFIJA,3G,4G,link,Latitud,Longitud
0,BUENOS AIRES,25 de Mayo,25 de Mayo,23408,SI,SI,--,SI,SI,SI,SI,SI,SI,6854100.0,-35.433939,-60.173121
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,280,--,--,--,--,--,--,SI,--,--,6854010.0,-35.739217,-60.559063
2,BUENOS AIRES,25 de Mayo,Del Valle,899,SI,--,--,--,SI,--,--,SI,SI,6854020.0,-35.897345,-60.731609
3,BUENOS AIRES,25 de Mayo,Ernestina,145,SI,--,--,--,--,--,--,--,--,6854030.0,-35.270234,-59.557503
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,547,--,--,--,--,--,SI,--,--,--,6854040.0,-35.164397,-60.081358

In [42]:
df1_total = df_1

In [40]:
df1_conectividad = df_1.drop(['Partido','Localidad','ADSL','CABLEMODEM','DIALUP','FIBRAOPTICA','SATELITAL','WIRELESS','TELEFONIAFIJA','3G','4G','link','Latitud','Longitud'], axis=1)

In [30]:
df1 = df1_conectividad.groupby('Provincia').sum()

In [31]:
df1

                     Poblacion
Provincia
BUENOS AIRES          14911542
CABA                   2890151
CATAMARCA               343343
CHACO                   927414
CHUBUT                  490554
CORDOBA                3139606
CORRIENTES              857994
ENTRE RIOS             1119919
FORMOSA                 452714
JUJUY                   628141
LA PAMPA                302570
LA RIOJA                319248
MENDOZA                1654993
MISIONES                836097
NEUQUEN                 522527
RIO NEGRO               597058
SALTA                  1117163
SAN JUAN                631000
SAN LUIS                410669
SANTA CRUZ              268436
SANTA FE               3055611
SANTIAGO DEL ESTERO     671932
TIERRA DEL FUEGO        125823
TUCUMAN                1210114

In [34]:
df2_velocidad = df_2
df2_velocidad

      Año  Trimestre            Provincia  Mbps (Media de bajada)
0    2022          2         Buenos Aires                      66
1    2022          2      Capital Federal                      94
2    2022          2            Catamarca                      57
3    2022          2                Chaco                      51
4    2022          2               Chubut                      15
..    ...        ...                  ...                     ...
811  2014          1           Santa Cruz                       3
812  2014          1             Santa Fe                       3
813  2014          1  Santiago Del Estero                       3
814  2014          1     Tierra Del Fuego                       3
815  2014          1              Tucumán                       3

[816 rows x 4 columns]

In [35]:
df2_grupodeaño = df2_velocidad.groupby(['Año']).sum()

      Trimestre  Mbps (Media de bajada)
Año
2014        240                     323
2015        240                     396
2016        240                     458
2017        240                     602
2018        240                     934
2019        240                    1347
2020        240                    2133
2021        240                    2757
2022         72                    1728

In [39]:
df2_velocidad.groupby(['Provincia']).sum()

                       Año  Trimestre  Mbps (Media de bajada)
Provincia
Buenos Aires         68604         83                     791
Capital Federal      68604         83                    1064
Catamarca            68604         83                     569
Chaco                68604         83                     583
Chubut               68604         83                     188
Corrientes           68604         83                     490
Córdoba              68604         83                     630
Entre Ríos           68604         83                     455
Formosa              68604         83                     396
Jujuy                68604         83                     379
La Pampa             68604         83                     205
La Rioja             68604         83                     388
Mendoza              68604         83                     271
Misiones             68604         83                     516
Neuquén              68604         83                     583
Río Negro            68604         83                     405
Salta                68604         83                     460
San Juan             68604         83                     181
San Luis             68604         83                     377
Santa Cruz           68604         83                     181
Santa Fe             68604         83                     507
Santiago Del Estero  68604         83                     247
Tierra Del Fuego     68604         83                     194
Tucumán              68604         83                     618

In [ ]:
df3_ingresos = df_3
df3_ingresos.head()

    Año  Trimestre Ingresos (miles de pesos)        Periodo
0  2022          2                60.942.843   Abr-Jun 2022
1  2022          1                56.195.811   Ene-Mar 2022
2  2021          4                45.467.887   Oct-Dic 2021
3  2021          3                42.999.944  Jul-Sept 2021
4  2021          2                38.239.667   Abr-Jun 2021

In [ ]:
df3_ingresos.groupby(['Año','Ingresos (miles de pesos)']).sum()

                                Trimestre
Año  Ingresos (miles de pesos)
2014 2.984.054                          1
     3.270.816                          2
     3.478.638                          3
     3.950.441                          4
2015 4.701.791                          2
     4.876.385                          1
     5.153.739                          3
     5.376.899                          4
2016 5.936.845                          1
     6.534.241                          2
     6.912.442                          3
     7.483.980                          4
2017 10.065.998                         3
     11.226.127                         4
     8.701.201                          1
     9.678.647                          2
2018 13.171.459                         1
     14.319.467                         2
     15.410.981                         3
     16.637.687                         4
2019 20.207.414                         1
     20.743.118                         2
     21.652.748                         3
     24.169.251                         4
2020 29.946.216                         1
     31.997.445                         3
     32.102.476                         2
     33.539.703                         4
2021 36.676.371                         1
     38.239.667                         2
     42.999.944                         3
     45.467.887                         4
2022 56.195.811                         1
     60.942.843                         2

In [3]:
df4_penetracion=df_4

In [5]:
df4_penetracion

      Año  Trimestre            Provincia Accesos por cada 100 hogares
0    2022          2         Buenos Aires                        77,58
1    2022          2      Capital Federal                       121,31
2    2022          2            Catamarca                         62,4
3    2022          2                Chaco                        43,79
4    2022          2               Chubut                        83,19
..    ...        ...                  ...                          ...
811  2014          1           Santa Cruz                        28,94
812  2014          1             Santa Fe                        47,85
813  2014          1  Santiago Del Estero                        16,31
814  2014          1     Tierra Del Fuego                        63,97
815  2014          1              Tucumán                        33,42

[816 rows x 4 columns]

In [12]:
df4_agrupado_accesos = df4_penetracion.groupby(['Año','Accesos por cada 100 hogares']).sum()

In [4]:
df4_2 = df4_penetracion.groupby(['Provincia','Año','Trimestre']).sum()

In [22]:
df_5.head(5)

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2022,2,"75,97","23,72",Abr-Jun 2022
1,2022,1,"73,88","23,05",Ene-Mar 2022
2,2021,4,"73,18","22,81",Oct-Dic 2021
3,2021,3,"70,58","21,98",Jul-Sept 2021
4,2021,2,"69,24","21,55",Abr-Jun 2021

In [44]:
df5 = df_5.groupby(['Año','Accesos por cada 100 hogares']).count()

In [45]:
df5

                                   Trimestre  Accesos por cada 100 hab  \
Año  Accesos por cada 100 hogares
2014 49,55                                 1                         1
     49,86                                 1                         1
     50,5                                  1                         1
     50,67                                 1                         1
2015 51,36                                 1                         1
     51,76                                 1                         1
     52,46                                 1                         1
     52,63                                 1                         1
2016 51,85                                 1                         1
     53,34                                 1                         1
     53,73                                 1                         1
     53,94                                 1                         1
2017 54,16                                 1                         1
     54,9                                  1                         1
     56,9                                  1                         1
     57,78                                 1                         1
2018 58,82                                 1                         1
     59,16                                 1                         1
     60,69                                 1                         1
     61,42                                 1                         1
2019 62,48                                 1                         1
     62,92                                 1                         1
     64,53                                 1                         1
     65,79                                 1                         1
2020 62,86                                 1                         1
     64,21                                 1                         1
     66,31                                 1                         1
     67,62                                 1                         1
2021 67,95                                 1                         1
     69,24                                 1                         1
     70,58                                 1                         1
     73,18                                 1                         1
2022 73,88                                 1                         1
     75,97                                 1                         1

                                   Periodo
Año  Accesos por cada 100 hogares
2014 49,55                               1
     49,86                               1
     50,5                                1
     50,67                               1
2015 51,36                               1
     51,76                               1
     52,46                               1
     52,63                               1
2016 51,85                               1
     53,34                               1
     53,73                               1
     53,94                               1
2017 54,16                               1
     54,9                                1
     56,9                                1
     57,78                               1
2018 58,82                               1
     59,16                               1
     60,69                               1
     61,42                               1
2019 62,48                               1
     62,92                               1
     64,53                               1
     65,79                               1
2020 62,86                               1
     64,21                               1
     66,31                               1
     67,62                               1
2021 67,95                               1
     69,24                               1
     70,58                               1
     73,18                               1
2022 73,88                               1
     75,97                               1

DESPUES DE ANALIZAR LOS DATOS Y TRANSFORMARLO PARA SU POSTERIOR USO EN POWER BI, CARGO ESTOS ARCHIVOS COMO DOCUMENTOS CON FORMATO CSV PARA PODER TRABAJAR DE FORMA MAS EFICIENTE EN MI VISUALIZADOR A TRABAJAR

In [ ]:
df1_conectividad.to_csv('df1.csv')
df2_velocidad.to_csv('df2.csv')
df3_ingresos.to_csv('df3.csv')
df4_penetracion.to_csv('df4.csv')
df4_2.to_csv('df4_2.csv')
df4_agrupado_accesos.to_csv('df4_agrupados.csv')
df5.to_csv('df5.csv')
df1.to_csv('df1poblacion.csv')
df1_total.to_csv('df1total.csv')